@font-face {
  font-family: "CustomFont";
  src: url("../Assests/Fonts/harabara\ mais\ demo.otf");
}
body {
  display: flex;
  overflow-x: hidden;
}

.Top-Header {
  height: 80px;
  display: flex;
  background-color: white;
  align-items: center;
  z-index: 3;
  justify-content: space-between;
  position: fixed;

  width: 100vw;
}
.Left-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding-left: 80px;
}

.logo-top {
  height: 50px;
  width: auto;
}

.logo-Name {
  display: flex;
  flex-direction: column;
  height: 90px;
  width: 90px;
  justify-content: center;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
.nav__list {
  display: flex;
  column-gap: 30px;
  padding-right: 100px;
}
.nav__link {
  color: black;
  font-size: 15px;
  transition: all 0, 2s;
}

.nav__link:hover {
  color: gray;
}
.nav__link.active {
  color: gray;
  border-bottom: 2px solid gray;
  padding-bottom: 2px;
}
.hamburger-menu {
  display: none;
}

/***************/
.home {
  padding-top: 10%;
  padding-bottom: 15%;
  width: 100vw;
  /* background-color: red; */
}
.star-icon {
  font-size: 50px;
  float: right;
  transform: translateX(-200px);
  padding-top: 30px;
}
.Blockcontent-1 {
  position: relative;
  padding-left: 120px;
}

.Blockcontent-1::before {
  content: "";
  position: absolute;
  left: -110px;

  top: 50%;
  width: 200px;
  height: 200px;

  border: 1px solid wheat;
  border-radius: 50%;
  transform: translateY(10%);
}

.Blockcontent-1 {
  display: flex;
  flex-direction: row;
  gap: 3%;
  justify-content: center;
  padding-right: 550px;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes slideInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.Heading-1 h1 {
  font-size: 6rem;
  font-family: "CustomFont";
  letter-spacing: 6px;
  animation: slideInDown 2s;
}

.para-1 {
  text-align: left;
  padding-left: 20%;
  font-family: "Poppins", sans-serif;
  animation: slideInDown 2s;
}
.Heading-3 {
  display: flex;
  font-size: 2.4rem;
  padding-left: 0px;
  margin-top: -100px;
  font-family: "CustomFont";
  animation: slideInDown 2s;
}
.vertical-line-container-1 {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  border: 2px solid #b5a9a9;
  flex-direction: column;
  width: 0%;
  height: 100px;
  margin-left: 50%;
  transform: translateY(89%);

  animation: bounce 2s infinite, slideInDown 2s;
}
.vertical-line-container-1:hover {
  color: #b5a9a9;
  border-color: #b5a9a9;
}
.Blockcontent-2 {
  display: flex;
  flex-direction: row;
  gap: 4%;
}
.arrow-down {
  font-size: 40px;
  padding-left: 0px;
  color: gray;
}

/* ------------ */
.star-light {
  font-size: 50px;
  margin-left: -100px;
  animation: flash 1s infinite;
}
@keyframes flash {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.about-heading {
  position: relative;
  right: 100px;
  color: #fafafa;
  animation: slideInDown 2s;
}
.about-heading h3 {
  font-size: 25px;
}
.about-heading h2 {
  font-size: 20px;
}
.Heading-1 {
  font-family: "CustomFont";
}

.about-heading::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 250px;
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  right: 0;
  top: 0%;
  border: 1px solid #343434;
  transform: translateX(82%);
}
.About {
  padding-top: 5%;
  padding-bottom: 2%;
  text-align: left;
  padding-left: 15%;
  background-color: #121212;
  color: aliceblue;
  width: 100vw;
}
.about-heading {
  padding-left: 10%;
}
.about-para {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
  padding-bottom: 2%;
  color: #fafafa;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  animation: slideInDown 2s;
}
.vertical-line {
  border-left: 3px solid #343434;
  height: 166px;
  animation: grow 3s forwards;
}
@keyframes grow {
  from {
    height: 0;
  }
  to {
    height: 166px;
  }
}

/* ---------- */

.service {
  text-align: left;
  padding-left: 15%;
  padding-bottom: 5%;
  animation: slideInDown 2s;

  width: 100vw;
}
.service h4 {
  padding-left: 2%;
  padding-top: 50px;
  font-size: 30px;
  transform: translateY(30px);
}
.service-heading {
  display: flex;
  justify-content: center;
  padding-right: 20%;
  font-size: 30px;
}
.service-heading h2 {
  font-family: "CustomFont";
}
.service-heading span {
  color: red;
}
.service-para {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
  padding-bottom: 2%;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

.horizontal-line {
  width: 72%;
  border-top: 2px solid rgb(212, 209, 209);
  margin: 20px 0;
  margin-left: 0%;
  animation: growWidth 2s;
}
@keyframes growWidth {
  form {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.service-page1 {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 9%;
  padding: 5%;
  height: 1000px;
  justify-content: center;
  margin-right: 32%;
}

.content-para {
  position: absolute;
  bottom: 2%;
  top: 5%;
  left: 50%;
  transform: translateX(-50%) translateY(20px); /* Start with the element slightly below */
  visibility: hidden;
  opacity: 0;
  width: 180px;
  height: 230px;
  margin-top: 30px;
  padding: 10px;
  border-radius: 1px;

  /* /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  transition: visibility 0s, opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  z-index: 1;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.iconsimg:hover .content-para {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.iconsimg:hover .content-para {
  display: block;
  opacity: 1;
}
.iconsimg {
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 236, 240);
  border-radius: 7px;
  width: 250px;
  height: 250px;

  text-align: center;
  position: relative;
  gap: 55px;
}
.service-name {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
}
.serviceicons {
  padding-top: 45px;
  padding-bottom: 2px;
  margin-left: 85px;
}
.serviceicons,
.service-name {
  transition: opacity 0.3s ease;
}
.iconsimg:hover .serviceicons,
.iconsimg:hover .service-name {
  opacity: 0;
}

/* --------------- */
.Portfolio {
  display: flex;
  padding-top: 12%;
  background-color: #121212;
  height: 420px;
  width: 100vw;
  /* margin-left: -45px;  */
  animation: slideInDown 2s;
}
.Portfolio-heading {
  position: relative;
  padding-left: 2%;
  color: #ccc;
  margin-top: -70px;
}
.star-light1 {
  font-size: 50px;
  float: left;
  margin-top: 140px;
  animation: flash 1s infinite;
}
.Portfolio-heading h3 {
  font-size: 25px;
  transform: translateX(170px);
}

.Portfolio-heading h2 {
  font-size: 3rem;
  text-align: left;
  padding-top: 35px;
  font-family: "CustomFont";
  margin-left: 65%;
}

.project-img {
  height: 261px;
  width: 261px;
  padding-left: 358px;
  transform: translateY(-410px);
  animation: imageChange 5s infinite;
}
.background {
  /* filter: blur(7px);
  -webkit-filter: blur(3px); */
  height: 400px;
  width: 370px;
  transform: translateY(-78px);
  margin-left: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: backgroundChange 5s infinite;
}

@keyframes backgroundChange {
  0% {
    filter: blur(7px);
    opacity: 0;
  }
  50% {
    filter: blur(0);
    opacity: 1;
  }
  100% {
    filter: blur(7px);
    opacity: 0;
  }
}
.btn-1 {
  width: 100%;
  display: flex;

  gap: 10px;
  border: none;
  padding-top: 20;
  transform: translateX(600px);
  bottom: "15px";
  position: absolute;
  overflow: visible;
}
.carousel-btn {
  padding: 15px 19px;

  border-radius: 100%;
  border: black;
  background-color: #040404;

  justify-content: center;
}

.carousel-indicators {
  display: flex;
  justify-content: end;
  margin-top: 100px;

  transform: translateX(510px);
}

.indicator-btn {
  width: 12px;
  height: 12px;
  background-color: #ccc;
  border: none;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.indicator-btn.active {
  background-color: #333;
}

.indicator-btn:hover {
  background-color: #777;
}

/* ------------------ */
.offers-container {
  background-color: #ccc;
  height: 740px;
  animation: slideInDown 2s;
  /* margin-left: -45px; */
  width: 100vw;
}
.Offers-heading {
  color: #21181b;
}
.Offers-heading h1 {
  font-size: 25px;
  padding-left: 45%;
  width: 100%;
  margin-top: -5%;
}
.Offers {
  display: flex;

  background-color: #feeaeb;
  transform: translateY(100px);
  margin-left: 90px;
  padding-top: 10%;
  height: 400px;
  width: 1200px;
}

.Offer-para-1 {
  display: flex;
  flex-direction: row;
  gap: 5%;
  width: 130%;
  margin-top: 20%;
  padding-left: 70%;
}
.Offer-para-1 p {
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}
.circles {
  position: relative;
  width: 1000px;
  height: 100px;

  padding-top: 15%;
  justify-content: center;

  margin-top: -2%;
  margin-left: 0%;
}

.circle-container {
  display: flex;
  flex-direction: column-reverse;
  width: 50%;
  height: 16%;
}
.title-offers1 p {
  margin: 4px;
  font-size: 20px;
  float: right;
  margin-right: -5px;
  font-family: "Poppins", sans-serif;
}
.title-offers2 p {
  margin: -5px;
  font-size: 20px;
  float: right;
  margin-right: 0px;
  font-family: "Poppins", sans-serif;
}
.title-offers3 p {
  margin: -15px;
  font-size: 20px;
  float: right;
  margin-right: 90px;
  font-family: "Poppins", sans-serif;
}
.title-offers4 p {
  transform: translateY(45px);
  font-size: 20px;
  float: right;
  margin-right: 20px;
  font-family: "Poppins", sans-serif;
}
.title-offers5 p {
  transform: translateY(50px);
  top: 50px;
  font-size: 20px;
  float: right;
  margin-right: 30px;
  font-family: "Poppins", sans-serif;
}
.title-offers6 p {
  transform: translateY(55px);
  font-size: 20px;
  float: right;
  margin-right: 33px;
  font-family: "Poppins", sans-serif;
}
.title-offers7 p {
  margin: -47px;
  margin-top: 236px;
  top: 10%;
  font-size: 20px;
  float: right;
  margin-right: 30px;
  font-family: "Poppins", sans-serif;
}

.circle1 {
  position: absolute;
  left: 42%;
  top: -16%;
}
.circle2 {
  position: absolute;
  left: 37%;
  top: -1%;
}
.circle3 {
  position: absolute;
  left: 35%;
  top: 20%;
}
.circle4 {
  position: absolute;
  left: 34%;
  top: 43%;
}
.circle5 {
  position: absolute;
  left: 35%;

  top: 66%;
}
.circle6 {
  position: absolute;
  left: 38%;
  top: 85%;
}
.circle7 {
  position: absolute;

  left: 43%;
  top: 98%;
}
/* -------- */
.Contact {
  padding-top: 5%;
  padding-bottom: 10%;
  animation: slideInDown 2s;

  width: 100vw;
}
.Contact h3 {
  padding-left: 41%;
}
.contact-heading h1 span {
  padding-left: 6.5%;
}

.contact-heading h1 {
  font-size: 3rem;
  font-family: "CustomFont";
  padding-left: 28%;
  text-align: justify;
}
.arrow-icon {
  padding-left: 38px;
  font-size: 12px;
  transform: translateY(10px);
}
.circular-button p {
  transform: translateX(-6px);
  margin-top: -1px;
}

.circular-button {
  width: 80px; /* Adjust size as needed */
  height: 80px; /* Adjust size as needed */
  border-radius: 50%;
  background-color: black; /* Choose your preferred color */
  color: white;
  border: none;
  padding-bottom: 13px;
  font-size: 16px;
  cursor: pointer;
  float: right;
  margin-right: 48%;
  transition: background-color 0.3s ease;
}

.circular-button:hover {
  background-color: #2c3e50; /* Hover color */
}

.popupContainer {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  max-width: 90%;
  position: relative;
  border: 0.6rem solid #f8f9fa;
  top: 10%;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
.popupContent h2 {
  color: black;
  font-family: "CustomFont";
  padding-left: 50px;
}

.form-control {
  background-color: #f8f9fa;
  /* padding: 30px; */
  /* padding-left: 10%; */
  margin-left: 30px;
  padding: 10px 15px;
  margin-bottom: 1.3rem;
  width: 200px;
  border-radius: 15px;
  border: #000000;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.form-control:focus {
  color: #000000;
  background-color: #ffffff;
  border: 3px solid black;
  outline: 2;
  box-shadow: none;
}

#registerForm button {
  margin-top: 20px;
  margin-left: 100px;
  color: white;
  border: none;
  background-color: #da5767;
  cursor: pointer;
  font-size: 16px;
  width: 100px;
  border-radius: 20px;
  padding: 0.6rem 1.2rem;
  background: black;
  border: 2px solid black;
}

#registerForm button:hover {
  background-color: #121212;
  border-color: #121212;
  transition: 0.3s;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 5%; /* Space between contact items */
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between the icon and text */
}

.contact-icon {
  color: black; /* Icon color */
}
.vertical-line-container-2 {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  border: 2px solid #b5a9a9;
  flex-direction: column;
  width: 0%;
  height: 100px;
  right: 50px;
  position: absolute;

  animation: bounce 2s infinite, slideInDown 2s;
}
.vertical-line-container-2:hover {
  color: #b5a9a9;
  border-color: #b5a9a9;
}
.up-arrow {
  font-size: 50px;
  float: right;
  padding-right: 97px;
  color: #b5a9a9;
  transform: translateY(-51px);
}

/* --------- */
.Footer {
  text-align: center;
  padding: 20px;
  background-color: #121212;
  /* margin-left: -45px; */
  width: 100vw;
}

.footer-content {
  margin-bottom: 10px;
  color: white; /* Space between the content and icons */
}
.Footer-head {
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding: 20px;
  gap: 18%;
}
.Footer-1 {
  text-align: left;
}
.Footer-head h6 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  font-family: "CustomFont";

  padding-bottom: 10px;
  color: white;
}
.Footer-head h3 {
  font-family: "CustomFont";
  color: white;
}

.Footer-head p {
  font-size: 14px;
  margin: 0;
  color: white;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}

.Footer-topic h6 {
  font-family: "CustomFont";
}
.Footer-contact {
  font-family: "CustomFont";
}
.Footer-topic,
.Footer-contact {
  text-align: left;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact-icon {
  margin-right: 10px;
  color: white;
}

.text-reset {
  color: white;
  text-decoration: none;
}

.text-reset:hover {
  text-decoration: underline;
}

.Footer-icons {
  display: flex;
  justify-content: center;
  gap: 20px; /* Space between the icons */
}

.social-icon {
  color: white; /* Icon color */
  font-size: 24px; /* Icon size */
  transition: color 0.3s ease;
  cursor: pointer;
}

.social-icon:hover {
  color: #2c3e50; /* Change color on hover */
}

.footer-line {
  width: 100%; /* Adjust the width of the line */
  border-top: 2px solid gray; /* Adjust the height and color of the line */
  margin: 10px 0;
}

/*########################################## Media Query ######################################*/

@media only screen and (min-width: 350px) and (max-width: 480px) {
  body {
    overflow-x: hidden;
  }

  .Top-Header {
    height: 80px;
    display: flex;
    background-color: white;
    align-items: center;
    z-index: 3;
    justify-content: space-between;
    overflow-x: hidden;
    position: fixed;
    width: 100vw;
    /* background-color: #2c3e50; */
    top: 0;
  }
  .Left-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding-left: 30px;
  }
  .logo-top {
    height: 40px;
    width: auto;
  }

  .logo-Name {
    display: flex;
    flex-direction: column;
    height: 70px;
    width: 70px;
    justify-content: center;
  }
  .nav__list {
    display: none;
  }
  .hamburger-menu {
    display: block;
    padding-left: 120px;
    font-size: larger;
  }

  /* ----- */

  .home {
    padding-top: 30%;
    padding-bottom: 29%;
    width: 100vw;
    /* background-color: #da5767; */
    overflow-x: hidden;
  }
  .star-icon {
    font-size: 20px;
    float: right;
    padding-right: 80px;

    padding-top: 30px;
  }
  .Blockcontent-1::before {
    display: none;
  }

  .Heading-1 h1 {
    font-size: 2rem;
    font-family: "CustomFont";
    letter-spacing: 4px;
    padding-left: 90px;
    animation: slideInDown 2s;
  }

  .para-1 {
    text-align: left;
    padding-left: 25%;
    font-family: "Poppins", sans-serif;
    animation: slideInDown 2s;
    font-size: 10px;
  }
  .Heading-3 {
    display: flex;
    font-size: 0.6rem;
    padding-left: 200px;
    margin-top: -40px;
    animation: slideInDown 2s;
  }
  .vertical-line-container-1 {
    display: none;
  }
  .Blockcontent-2 {
    display: flex;
    flex-direction: column-reverse;
    gap: 4%;
  }
  /* ----------- */
  .star-light {
    font-size: 25px;
    /* margin-left: 50px; */
    float: right;
    padding-right: 20px;
    transform: translateY(-50px);

    animation: flash 1s infinite; /* Adjust duration as needed */
  }

  .about-heading {
    position: relative;
    right: 10px;
    color: #fafafa;

    animation: slideInDown 2s; /* Adjust this value to make space for the full circle */
  }
  .about-heading h3 {
    font-size: 15px;
  }
  .about-heading h2 {
    font-size: 10px;
    padding-left: 80px;
  }

  .about-heading::before {
    display: none;
  }
  .About {
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: left;
    padding-left: 2%;
    background-color: #121212;
    color: aliceblue;
    width: 100vw;
    padding: 0%;
    overflow-x: hidden;
  }

  .about-para {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    padding-bottom: 2%;
    color: #fafafa;
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    animation: slideInDown 2s;
  }
  .vertical-line {
    border-left: 2px solid #343434;
    animation: grow 3s forwards;
    margin-top: 8px;
  }
  @keyframes grow {
    from {
      height: 0;
    }
    to {
      height: 90px;
    }
  }
  /* ------------------ */
  .service {
    text-align: left;
    padding-left: 1%;
    padding-top: 10%;
    padding-bottom: 5%;
    animation: slideInDown 2s;
    width: 100vw;
    padding: 0%;
    /* background-color: #da5767; */
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .service h4 {
    padding-top: 10px;
    font-size: 17px;
    padding-left: 35px;
    transform: translateY(0px);
  }
  .service-heading {
    display: flex;
    justify-content: center;
    padding-right: 0%;
    font-size: 10px;
  }

  .service-para {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    padding-bottom: 2%;
    font-family: "Poppins", sans-serif;
    font-size: 10px;
  }
  .horizontal-line {
    width: 80%;
    border-top: 2px solid rgb(212, 209, 209);
    margin: 20px 0;
    margin-left: 10%;
  }

  .service-page1 {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    background-color: #2c3e50;
    /* justify-content: center; */
    margin-right: 1%;
  }

  .service-name {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 10px;
  }
  .serviceicons {
    height: 50px;
    width: 50px;
    margin-left: 50px;
    margin-top: -13%;
  }
  .iconsimg {
    display: flex;
    flex-direction: column;
    background-color: rgb(234, 229, 229);
    border-radius: 5px;
    width: 150px;
    height: 150px;
    text-align: center;
    position: relative;
    gap: 17px;
  }
  .content-para {
    position: absolute;
    bottom: 2%;
    top: 5%;
    left: 50%;
    transform: translateX(-50%) translateY(20px);
    visibility: hidden;
    opacity: 0;
    width: 130px;
    height: 230px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 1px;

    transition: visibility 0s, opacity 0.3s ease-in-out,
      transform 0.3s ease-in-out;
    z-index: 1;
    font-family: "Poppins", sans-serif;
    font-size: 10px;
  }

  /* ------------ */
  .Portfolio {
    display: flex;
    padding-top: 20%;
    background-color: #121212;
    height: 520px;
    width: 100vw;
    overflow-x: hidden;
  }
  .Portfolio-heading {
    position: relative;
    padding-left: 1%;
  }
  .star-light1 {
    font-size: 25px;
    float: right;
    margin-top: 35px;
    padding-left: 50px;
    animation: flash 1s infinite;
  }
  .Portfolio-heading h3 {
    transform: translateX(40px) translateY(20px);
    font-size: 17px;
  }

  .Portfolio-heading h2 {
    font-size: 1.5rem;
    text-align: left;
    padding-top: 35px;
    font-family: "CustomFont";
    margin-left: 35%;
  }
  /* -- */
  .project-img {
    height: 250px;
    width: 250px;
    margin-left: -600px;
    transform: translateY(150px);
    animation: imageChange 5s infinite;
  }
  .background {
    display: none;
  }

  .btn-1 {
    width: 100%;
    display: flex;

    gap: 10px;

    margin-top: 270px;
    transform: translateX(40%);
    bottom: "15px";
    position: absolute;
  }
  .btn-1 button {
    /* width: 40px;
    height: 40px; */
    border-radius: 100px;
    border: white;
    background-color: #121212;

    transform: translateY(115%);
    font-size: 1em;
    cursor: pointer;
  }

  .carousel-indicators {
    display: none;
  }
  /* ---------- */
  .offers-container {
    background-color: #121212;
    height: 1040px;
    animation: slideInDown 2s;
    overflow-x: hidden;
    width: 100vw;
  }

  .Offers-heading h1 {
    font-size: 17px;
    padding-left: 5%;
    width: 100%;
  }
  .Offers {
    display: flex;

    background-color: #feeaeb;
    transform: translateY(100px);
    margin-left: 30px;
    padding-top: 10%;
    height: 800px;
    width: 320px;
  }

  .Offer-para-1 {
    display: flex;
    flex-direction: row;
    gap: 5%;
    width: 300px;
    padding-left: 8%;
  }
  .Offer-para-1 p {
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-size: 9px;
    letter-spacing: 0px;
  }
  .circles {
    position: relative;
    width: 1000px;
    height: 100px;

    padding-top: 70%;
    justify-content: left;
    transform: translateX(-40px);
    margin-top: 55%;
    margin-right: 100%;
  }

  .circle-container {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 16%;
  }
  .title-offers1 p {
    font-size: 12px;

    transform: translateX(-30px) translateY(20px);
    font-family: "Poppins", sans-serif;
    font-weight: 400;

    width: 100px;
  }
  .title-offers2 p {
    font-size: 12px;

    transform: translateX(-23px) translateY(40px);

    font-family: "Poppins", sans-serif;
    width: 150px;
  }
  .title-offers3 p {
    font-size: 12px;

    transform: translateX(-11px) translateY(60px);
    float: right;
    margin-right: 110px;
    font-family: "Poppins", sans-serif;
    width: 100px;
  }
  .title-offers4 p {
    font-size: 12px;

    transform: translateX(-26px) translateY(45px);
    float: right;
    margin-right: 40px;
    font-family: "Poppins", sans-serif;
    width: 150px;
  }
  .title-offers5 p {
    font-size: 12px;

    transform: translateX(-30px) translateY(60px);
    top: 50px;

    float: right;
    margin-right: 50px;
    font-family: "Poppins", sans-serif;
    width: 100px;
  }
  .title-offers6 p {
    font-size: 12px;

    transform: translateX(-28px) translateY(65px);
    float: right;
    margin-right: 50px;
    font-family: "Poppins", sans-serif;
    width: 100px;
  }
  .title-offers7 p {
    font-size: 12px;

    transform: translateX(18px) translateY(70px);
    margin-top: 23px;

    float: right;

    font-family: "Poppins", sans-serif;
    width: 100px;
  }

  .circle1 {
    position: absolute;
    transform: translateX(-120px);
    top: 1px;
  }
  .circle2 {
    position: absolute;
    transform: translateX(-120px);
    top: 20%;
  }
  .circle3 {
    position: absolute;
    transform: translateX(-120px);
    top: 40%;
  }
  .circle4 {
    position: absolute;
    transform: translateX(-120px);
    top: 60%;
  }
  .circle5 {
    position: absolute;
    transform: translateX(-120px);
    top: 80%;
  }
  .circle6 {
    position: absolute;
    transform: translateX(-120px);
    top: 100%;
  }
  .circle7 {
    position: absolute;

    transform: translateX(-120px);
    top: 120%;
  }

  /* --------- */

  .Contact {
    padding-top: 5%;
    padding-bottom: 15%;
    animation: slideInDown 2s;
    overflow-x: hidden;
    width: 100vw;
    /* background-color: aqua; */
  }
  .Contact h3 {
    padding-left: 53px;
  }
  .contact-heading h1 {
    font-size: 1rem;
    font-family: "CustomFont";
    padding-left: 92px;
  }
  .arrow-icon {
    padding-left: 38px;
    font-size: 12px;
    transform: translateY(10px);
  }
  .circular-button p {
    transform: translateX(-6px);
    margin-top: -1px;
  }

  .circular-button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: black;
    color: white;
    border: none;
    margin-top: 20px;
    padding-bottom: 13px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transform: translateX(25px);
  }

  .circular-button:hover {
    background-color: #2c3e50; /* Hover color */
  }

  .popupContainer {
    position: fixed;
    display: none;
    top: 0;
    left: 75px;
    width: 50%;
    height: 40%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: left;
    align-items: left;
    transform: translateY(150px);
  }

  .popupContent {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 200px;
    height: 220px;
    max-width: 90%;
    position: relative;
    border: 0.6rem solid #f8f9fa;
    top: 10%;
  }

  .closeBtn {
    position: absolute;
    top: -10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  .popupContent h2 {
    color: black;
    font-family: "CustomFont";
    font-size: 17px;
    margin-top: -15px;
    padding-left: 10px;
  }

  .form-control {
    background-color: #f8f9fa;
    padding: 10px;
    padding: 5px 10px;
    margin-bottom: 1rem;
    width: 150px;
    background-color: white;

    border-radius: 15px;
    border: #000000;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  .form-control:focus {
    color: #000000;
    background-color: #ffffff;
    border: 3px solid black;
    outline: 2;
    box-shadow: none;
  }

  #registerForm button {
    margin-top: 0px;
    margin-left: 30px;
    color: white;
    border: none;

    cursor: pointer;
    font-size: 13px;
    width: 100px;
    border-radius: 20px;
    padding: 0.4rem 1rem;
    background: black;
    border: 2px solid black;
  }

  #registerForm button:hover {
    background-color: #121212;
    border-color: #121212;
    transition: 0.3s;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 5%; /* Space between contact items */
  }

  .contact-item {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between the icon and text */
  }

  .contact-icon {
    color: black; /* Icon color */
  }
  .vertical-line-container-2 {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 2px solid #b5a9a9;
    flex-direction: column;
    width: 2%;
    height: 50px;
    right: 20px;
    position: absolute;

    animation: bounce 2s infinite, slideInDown 2s;
  }

  /* -------------------- */
  .Footer {
    text-align: center;
    padding: 20px;
    background-color: #121212;
    width: 89.2%;
    overflow-x: hidden;
  }

  .footer-content {
    margin-bottom: 10px;
    color: white; /* Space between the content and icons */
  }
  .footer-content p {
    font-size: 10px;
  }
  .Footer-head {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 20px;
    gap: 18%;
  }

  .Footer-head h6 {
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    font-family: "CustomFont";

    padding-bottom: 10px;
    color: white;
  }
  .Footer-head h3 {
    font-family: "CustomFont";
    color: white;
    font-size: 15px;
  }

  .Footer-head p {
    font-size: 10px;
    margin: 0;
    color: white;
    line-height: 1.6;
    font-family: "Poppins", sans-serif;
  }

  .Footer-topic h6 {
    font-family: "CustomFont";
  }
  .Footer-contact {
    font-family: "CustomFont";
  }
  .contact-icon {
    color: white;
  }
  .Footer-topic {
    display: none;
  }
  .Footer-topic,
  .Footer-contact {
    text-align: left;
  }
}

/* ------------------------------------------------------------------------- */
@media only screen and (min-width: 480px) and (max-width: 720px) {
  .Top-Header {
    height: 80px;
    display: flex;
    background-color: white;
    align-items: center;
    z-index: 3;
    justify-content: space-between;
    position: fixed;
    overflow-x: hidden;

    width: 100vw;
  }
  .Left-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding-left: 20px;
  }

  .logo-top {
    height: 40px;
    width: auto;
  }

  .logo-Name {
    display: flex;
    flex-direction: column;
    height: 80px;
    width: 80px;
    justify-content: center;
  }

  .nav__list {
    display: flex;
    column-gap: 25px;
    padding-right: 20px;
  }
  .nav__link {
    color: black;
    font-size: 13px;
    transition: all 0, 2s;
  }

  .hamburger-menu {
    display: none;
  }

  /* -------------- */
  .home {
    padding-top: 10%;
    padding-bottom: 15%;
    width: 100vw;
    /* background-color: red; */
    overflow-x: hidden;
  }
  .star-icon {
    font-size: 50px;
    float: right;
    transform: translateX(-200px);
    padding-top: 30px;
  }
  .Blockcontent-1 {
    position: relative;
    padding-left: 250px;
  }

  .Blockcontent-1::before {
    content: "";
    position: absolute;
    left: -110px;

    top: 50%;
    width: 150px;
    height: 150px;

    border: 1px solid wheat;
    border-radius: 50%;
    transform: translateY(10%);
  }

  .Heading-1 h1 {
    font-size: 3.5rem;
    font-family: "CustomFont";
    letter-spacing: 6px;
    animation: slideInDown 2s;
  }

  .para-1 {
    text-align: left;
    padding-left: 100px;
    font-family: "Poppins", sans-serif;
    animation: slideInDown 2s;
    font-size: 12px;
    transform: translateY(-20px);
  }
  .Heading-3 {
    display: flex;
    font-size: 1.3rem;
    padding-left: 0px;
    /* margin-top: -100px; */
    padding-top: 20px;
    font-family: "CustomFont";
    animation: slideInDown 2s;
  }
  .vertical-line-container-1 {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    border: 2px solid #b5a9a9;
    flex-direction: column;
    width: 0%;
    height: 80px;
    margin-left: 50%;
    transform: translateY(100%);

    animation: bounce 2s infinite, slideInDown 2s;
  }
  .vertical-line-container-1:hover {
    color: #b5a9a9;
    border-color: #b5a9a9;
  }
  .Blockcontent-2 {
    display: flex;
    flex-direction: row;
    gap: 4%;
  }
  .arrow-down {
    font-size: 40px;
    padding-left: 0px;
    color: gray;
  }
  /* ---------------------- */

  .About {
    text-align: left;
    height: 450px;
    background-color: #121212;
    color: aliceblue;
    width: 100vw;
    padding: 0px;
    overflow-x: hidden;
  }
  .star-light {
    font-size: 30px;
    transform: translateX(150px) translateY(50px);
    /* margin-left: -100px; */
    animation: flash 1s infinite;
  }

  .about-heading {
    position: relative;
    /* right: 100px; */
    color: #fafafa;
    display: flex;
    justify-content: left;
    transform: translateX(100px);
    animation: slideInDown 2s;
  }
  .about-heading h3 {
    font-size: 20px;
    padding-right: 60px;
  }
  .about-heading h2 {
    font-size: 15px;
    padding-top: 80px;
    transform: translateX(-50px);
  }

  .about-heading::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 200px;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    right: 0;
    top: 0%;
    border: 1px solid #343434;
    transform: translateY(100px);
  }

  .about-para {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    padding-bottom: 2%;
    color: #fafafa;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    animation: slideInDown 2s;
    padding-top: 60px;
  }
  .vertical-line {
    border-left: 3px solid #343434;
    height: 150px;
    animation: grow 3s forwards;
  }
  @keyframes grow {
    from {
      height: 0;
    }
    to {
      height: 130px;
    }
  }

  .service {
    text-align: left;
    /* padding-left: 15%;
    padding-bottom: 5%; */
    animation: slideInDown 2s;
    /* background-color: #777; */
    overflow-x: hidden;
    width: 100vw;
    padding: 0px;
  }
  .service h4 {
    padding-left: 80px;
    padding-top: 50px;
    font-size: 25px;
    transform: translateY(30px);
  }
  .service-heading {
    display: flex;
    justify-content: center;

    font-size: 20px;
  }

  .service-para {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    padding-bottom: 2%;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
  }

  .horizontal-line {
    width: 72%;
    border-top: 2px solid rgb(212, 209, 209);
    margin: 20px 0;
    transform: translateX(100px);
    animation: growWidth 2s;
  }

  .service-page1 {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    padding: 20px;
    height: 1000px;
    justify-content: center;
    margin-right: 0;
  }

  .content-para {
    position: absolute;
    bottom: 2%;
    top: 5%;
    left: 50%;
    transform: translateX(-50%) translateY(-10px); /* Start with the element slightly below */
    visibility: hidden;
    opacity: 0;
    width: 180px;
    height: 230px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 1px;

    transition: visibility 0s, opacity 0.3s ease-in-out,
      transform 0.3s ease-in-out;
    z-index: 1;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
  }

  .iconsimg:hover .content-para {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }

  .iconsimg:hover .content-para {
    display: block;
    opacity: 1;
  }
  .iconsimg {
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 236, 240);
    border-radius: 7px;
    width: 200px;
    height: 200px;

    text-align: center;
    position: relative;
    gap: 10px;
  }
  .service-name {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 13px;
  }
  .serviceicons {
    padding-top: 45px;
    padding-bottom: 2px;
    margin-left: 55px;
  }

  /* ------------------- */
  .Portfolio {
    display: flex;
    padding-top: 12%;
    background-color: #121212;
    height: 350px;
    width: 100vw;
    overflow-x: hidden;
    animation: slideInDown 2s;
  }
  .Portfolio-heading {
    position: relative;

    color: #ccc;
  }
  .star-light1 {
    font-size: 20px;
    float: left;

    animation: flash 1s infinite;
  }
  .Portfolio-heading h3 {
    font-size: 20px;
    transform: translateX(50px);
    /* background-color: #da5767; */
    width: 250px;
  }

  .Portfolio-heading h2 {
    font-size: 2rem;
    text-align: left;
    padding-top: 50px;
    font-family: "CustomFont";

    width: 250px;
  }

  .project-img {
    height: 200px;
    width: 200px;
    padding-left: 208px;
    transform: translateY(10px);
    animation: imageChange 5s infinite;
  }
  .background {
    display: none;
  }

  .btn-1 {
    width: 100%;
    display: flex;

    gap: 10px;
    border: none;
    padding-top: 20;
    transform: translateX(250px) translateY(50px);
    bottom: "15px";
    position: absolute;
    overflow: visible;
  }
  .carousel-btn {
    padding: 15px 19px;

    border-radius: 100%;
    border: black;
    background-color: #040404;

    justify-content: center;
  }

  .carousel-indicators {
    display: flex;
    justify-content: end;
    margin-top: 100px;

    transform: translateX(330px);
  }

  .indicator-btn {
    width: 12px;
    height: 12px;
    background-color: #ccc;
    border: none;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .indicator-btn.active {
    background-color: #333;
  }

  .indicator-btn:hover {
    background-color: #777;
  }
  /* ------------------ */

  .offers-container {
    background-color: black;
    height: 1000px;
    animation: slideInDown 2s;
    /* margin-left: -45px; */
    width: 100vw;
    overflow-x: hidden;
  }
  .Offers-heading {
    color: #21181b;
  }
  .Offers-heading h1 {
    font-size: 20px;
    padding-left: 45px;
    width: 100%;
    margin-top: -5%;
  }
  .Offers {
    display: flex;

    background-color: #feeaeb;
    transform: translateY(100px);
    margin-left: 90px;
    padding-top: 10%;
    height: 750px;
    width: 550px;
  }

  .Offer-para-1 {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 430px;
    /* margin-top: 20%; */
    padding-left: 10px;
    /* background-color: #ccc; */
    transform: translateX(80px) translateY(-70px);
  }
  .Offer-para-1 p {
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
  }
  .circles {
    position: relative;
    width: 1000px;
    height: 100px;
    display: flex;
    justify-content: left;
    align-items: left;
    float: left;
    right: 400px;
    top: 220px;

    /* padding-top: 500px; */

    /* margin-top: -2%; */
    /* margin-left: 0%; */
  }

  .circle-container {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 16%;
    /* background-color: #ccc; */
  }
  .title-offers1 p {
    /* margin: 4px; */
    font-size: 20px;
    float: right;
    /* margin-right: -5px; */
    transform: translateX(155px) translateY(21px);
    font-family: "Poppins", sans-serif;
  }
  .title-offers2 p {
    /* margin: -5px; */
    font-size: 20px;
    float: right;
    /* margin-right: 0px; */
    transform: translateX(155px) translateY(53px);
    font-family: "Poppins", sans-serif;
  }
  .title-offers3 p {
    /* margin: -15px; */
    font-size: 20px;
    float: right;
    /* margin-right: 90px; */
    transform: translateX(166px) translateY(86px);
    font-family: "Poppins", sans-serif;
  }
  .title-offers4 p {
    transform: translateX(152px) translateY(71px);
    font-size: 20px;
    float: right;
    /* margin-right: 20px; */
    font-family: "Poppins", sans-serif;
  }
  .title-offers5 p {
    transform: translateX(152px) translateY(93px);
    top: 50px;
    font-size: 20px;
    float: right;
    /* margin-right: 30px; */
    font-family: "Poppins", sans-serif;
  }
  .title-offers6 p {
    transform: translateX(161px) translateY(116px);
    font-size: 20px;
    float: right;
    /* margin-right: 33px; */
    font-family: "Poppins", sans-serif;
  }
  .title-offers7 p {
    /* margin: -47px; */
    /* margin-top: 236px; */
    /* top: 10%; */
    transform: translateX(210px) translateY(-73px);
    font-size: 20px;
    float: right;
    /* margin-right: 30px; */
    font-family: "Poppins", sans-serif;
  }

  .circle1 {
    position: absolute;
    /* left: 42%;
    top: -16%; */
    transform: translateX(-70px) translateY(10px);
  }
  .circle2 {
    position: absolute;
    /* left: 37%;
    top: -1%; */
    transform: translateX(-60px) translateY(30px);
  }
  .circle3 {
    position: absolute;
    /* left: 35%;
    top: 20%; */
    transform: translateX(-57px) translateY(45px);
  }
  .circle4 {
    position: absolute;
    /* left: 34%;
    top: 43%; */
    transform: translateX(-55px) translateY(60px);
  }
  .circle5 {
    position: absolute;
    /* left: 35%;

    top: 66%; */
    transform: translateX(-57px) translateY(73px);
  }
  .circle6 {
    position: absolute;
    /* left: 38%;
    top: 85%; */
    transform: translateX(-63px) translateY(89px);
  }
  .circle7 {
    position: absolute;

    /* left: 43%;
    top: 98%; */
    transform: translateX(-73px) translateY(112px);
  }

  /* -------------------- */
  .Contact {
    padding-top: 5%;
    padding-bottom: 120px;
    animation: slideInDown 2s;
    /* background-color: greenyellow; */
    overflow-x: hidden;
    width: 100vw;
  }
  .Contact h3 {
    padding-left: 230px;
    justify-content: center;
  }
  .contact-heading h1 span {
    padding-left: 40px;
  }

  .contact-heading h1 {
    font-size: 2rem;
    font-family: "CustomFont";
    padding-left: 150px;
    text-align: justify;
  }
  .arrow-icon {
    padding-left: 38px;
    font-size: 12px;
    transform: translateY(10px);
  }
  /* ------------------------ */
  .Footer {
    text-align: center;
    padding: 0px;
    background-color: #121212;
    /* margin-left: -45px; */
    width: 100vw;
    overflow-x: hidden;
  }

  .footer-content {
    /* margin-bottom: 10px; */
    color: white; /* Space between the content and icons */
  }
  .Footer-head {
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 10px;
    gap: 15px;
  }
  .Footer-1 {
    text-align: left;
  }
  .Footer-head h6 {
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    font-family: "CustomFont";

    padding-bottom: 10px;
    color: white;
  }
  .Footer-head h3 {
    font-family: "CustomFont";
    color: white;
    font-size: 15px;
  }

  .Footer-head p {
    font-size: 14px;
    margin: 0;
    color: white;
    line-height: 1.6;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
  }

  .Footer-topic h6 {
    font-family: "CustomFont";
    font-size: 15px;
  }
  .Footer-contact {
    font-family: "CustomFont";
    font-size: 10px;
  }
  .Footer-topic,
  .Footer-contact {
    text-align: left;
  }

  .contact-item {
    display: flex;
    align-items: center;
    /* margin-bottom: 10px; */
  }

  .contact-icon {
    /* margin-right: 10px; */
    color: white;
  }
}

/* ------------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1024px) {
  .home {
    padding-top: 200px;
    padding-bottom: 15%;
    width: 100vw;
    background-color: red;
  }
  .star-icon {
    font-size: 40px;
    float: right;
    /* transform: translateX(-200px); */
    padding-top: 30px;
  }
  .Blockcontent-1 {
    position: relative;
    padding-left: 320px;
  }

  .Blockcontent-1::before {
    content: "";
    position: absolute;
    left: -110px;

    top: 50%;
    width: 200px;
    height: 200px;

    border: 1px solid wheat;
    border-radius: 50%;
    transform: translateY(10%);
  }

  .Heading-1 h1 {
    font-size: 5rem;
    font-family: "CustomFont";
    letter-spacing: 5px;
    animation: slideInDown 2s;
  }

  .para-1 {
    text-align: left;
    padding-left: 200px;
    font-family: "Poppins", sans-serif;
    animation: slideInDown 2s;
  }
  .Heading-3 {
    display: flex;
    font-size: 2rem;
    padding-left: 0px;
    /* margin-top: -100px; */
    font-family: "CustomFont";
    animation: slideInDown 2s;
  }
  /* ------------------------------------------------------------------------------ */
  .star-light {
    font-size: 40px;
    margin-left: -100px;
    animation: flash 1s infinite;
  }

  .about-heading {
    position: relative;
    right: 0px;
    color: #fafafa;
    animation: slideInDown 2s;
  }
  .about-heading h3 {
    font-size: 20px;
  }
  .about-heading h2 {
    font-size: 17px;
  }
  .Heading-1 {
    font-family: "CustomFont";
  }

  .about-heading::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 250px;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    right: 0;
    top: 0%;
    border: 1px solid #343434;
    transform: translateX(0) translateY(30px);
  }
  .About {
    text-align: left;

    background-color: #121212;
    color: aliceblue;
    width: 100vw;
    padding: 0.1px;
  }
  .about-heading {
    padding-left: 10%;
  }
  .about-para {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    padding-bottom: 2%;
    color: #fafafa;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    animation: slideInDown 2s;
  }
  .vertical-line {
    border-left: 3px solid #343434;
    height: 166px;
    animation: grow 3s forwards;
  }
  @keyframes grow {
    from {
      height: 0;
    }
    to {
      height: 140px;
    }
  }
  *
/* -------------------------------- */
 .service {
    text-align: left;
    /* padding-left: 15%;
    padding-bottom: 5%; */
    animation: slideInDown 2s;
    background-color: #2c3e50;
    width: 100vw;
    padding: 0px;
  }
  .service h4 {
    padding-left: 100px;
    padding-top: 50px;
    font-size: 30px;
    transform: translateY(30px);
  }
  .service-heading {
    display: flex;
    justify-content: center;
    padding-right: 20px;
    font-size: 30px;
  }

  .service-para {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    padding-bottom: 2%;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    padding-left: 80px;
  }

  .horizontal-line {
    width: 72%;
    border-top: 2px solid rgb(212, 209, 209);
    margin: 20px 0;
    margin-left: 150px;
    animation: growWidth 2s;
  }

  .service-page1 {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 9%;
    padding: 5%;
    height: 1000px;
    justify-content: center;
    margin-right: 0%;
  }
  */

/* ------------------------------------ */
 .Portfolio {
    display: flex;
    padding-top: 12%;
    background-color: #121212;
    height: 420px;
    width: 100vw;
    /* margin-left: -45px;  */
    animation: slideInDown 2s;
  }
  .Portfolio-heading {
    position: relative;
    padding-left: 2%;
    color: #ccc;
    margin-top: -70px;
  }
  .star-light1 {
    font-size: 50px;
    float: left;
    margin-top: 140px;
    animation: flash 1s infinite;
  }
  .Portfolio-heading h3 {
    font-size: 25px;
    transform: translateX(35px);
  }

  .Portfolio-heading h2 {
    font-size: 2.5rem;
    text-align: left;
    padding-top: 35px;
    font-family: "CustomFont";
    /* margin-left: 65%;  */
  }

  .project-img {
    height: 261px;
    width: 261px;
    padding-left: 358px;
    transform: translateY(-350px);
    animation: imageChange 5s infinite;
  }
  .background {
    /* filter: blur(7px);
    -webkit-filter: blur(3px); */
    height: 370px;
    width: 370px;
    transform: translateY(-35px) translateX(0px);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: backgroundChange 5s infinite;
  }

  .btn-1 {
    width: 100%;
    display: flex;

    gap: 10px;
    border: none;
    padding-top: 20;
    transform: translateX(300px);
    bottom: "15px";
    position: absolute;
    overflow: visible;
  }
  .carousel-btn {
    padding: 15px 19px;

    border-radius: 100%;
    border: black;
    background-color: #040404;

    justify-content: center;
  }

  .carousel-indicators {
    display: flex;
    justify-content: end;
    /* margin-top: 100px; */

    transform: translateX(490px) translateY(10px);
  }
  /* ----------------------- */
  .Offers {
    display: flex;

    background-color: #feeaeb;
    transform: translateY(100px) translateX(-20px);
    /* margin-left: 90px; */
    padding-top: 10%;
    height: 400px;
    width: 900px;
  }
  .Offers-heading h1 {
    font-size: 20px;
    transform: translateX(-125px);
  }
  .Offer-para-1 {
    display: flex;
    flex-direction: row;
    gap: 5%;
    width: 450px;
    margin-top: 20px;
    padding-left: 0px;
    transform: translateX(80px);
    /* /* background-color: #2c3e50;  */
  }
  .Offer-para-1 p {
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
  }
  .circles {
    position: relative;
    width: 1000px;
    height: 100px;

    padding-top: 20%;
    justify-content: center;

    margin-top: -2%;
    margin-left: -39%;
  }
  /* ------------------------------------- */
  .Contact {
    padding-top: 5%;
    padding-bottom: 10%;
    animation: slideInDown 2s;
    background-color: #2c3e50;
    width: 100vw;
  }
  .Contact h3 {
    padding-left: 38%;
  }
  .contact-heading h1 span {
    padding-left: 7.5%;
  }

  .contact-heading h1 {
    font-size: 3rem;
    font-family: "CustomFont";
    padding-left: 20%;
    text-align: justify;
  }

  /* ------------------------------------------ */
  .Footer {
    text-align: center;
    padding: 0px;
    background-color: #121212;
    /* margin-left: -45px; */
    width: 100vw;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .footer-content {
    margin-bottom: 10px;
    color: white; /* Space between the content and icons  */
  }
  .Footer-head {
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 10px;
    gap: 100px;
  }
}
